<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body id="dashboard" onload="fetchUserUrls()">
    <h1>Dashboard</h1>
    <button onclick="logout()">Logout</button>
    <div id="shorten-url-form">
        <input type="text" id="longUrl" placeholder="Enter URL to shorten">
        <button onclick="shortenUrl()">Shorten</button>
    </div>
    <div id="result"></div>
    <div id="urls"></div>
    <script src="/js/main.js"></script>
</body>
</html>
